<%= form_with model: [:admin, person], class: "max-w-3xl" do |f| %>
  <%= render layout: "admin/shared/form_card", locals: { object: person } do %>
    <%= render layout: "admin/shared/form_section", locals: { title: t("views.admin.shared.basic_data") } do %>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <%= admin_text_field f, :first_name, label: Person.human_attribute_name(:first_name) %>
        <%= admin_text_field f, :last_name, label: Person.human_attribute_name(:last_name), required: true %>
      </div>

      <%= admin_text_field f, :position_title, label: Person.human_attribute_name(:position_title) %>
      <%= admin_text_field f, :email, label: Person.human_attribute_name(:email), input: :email_field %>
      <%= admin_select f, :location_id, nil,
          label: Person.human_attribute_name(:location),
          collection: Location.ordered,
          include_blank: t("views.admin.persons.no_location") %>
      <%= admin_checkbox f, :active, label: Person.human_attribute_name(:active) %>
    <% end %>

    <%= render "admin/phone_numbers/nested_form", form: f %>

    <%= render "admin/shared/form_actions", form: f, cancel_path: admin_persons_path %>
  <% end %>
<% end %>
