<div class="space-y-6">
  <% if @announcements.any? %>
    <%= render "home/announcements", announcements: @announcements %>
  <% end %>

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
    <div class="lg:col-span-8">
      <%= render "home/directory", directory_rows: @directory_rows %>
    </div>
    <div class="lg:col-span-2">
      <%= render "home/internal_apps", internal_links: @internal_links %>
    </div>
    <div class="lg:col-span-2">
      <%= render "home/external_links", external_link_categories: @external_link_categories %>
    </div>
  </div>

  <div>
    <%= render "home/documents" %>
  </div>
</div>
